
body {
  color: #0B3859;
}
h1 {
color: #ffffff;
  font-size: 65px;
  text-align: left;
  margin-top: 150px;
  margin-left: 150px;
  font-family: 'Trebuchet MS', sans-serif;
}

.window {
  background-color: #7E7F7F;
  display: flex;
  padding-top: 60px;

}
.window img{
 float: right;
 padding-left: 50px;
}


.secondpart {
  display: flex;
}

.secondpart Img{
  width: 300px;
  height: 300px;
  margin-left: 80px;
  margin-top: 110px;
}
.blocks{
  margin-left: 60px;
  margin-right: 20px;
  
  
}
.blocks img{
  height: 58px;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

h2{
  font-size: 65px;
  font-family: 'Trebuchet MS', sans-serif;
  margin-top: 100px;
  margin-left: 300px;
}

.about p{
  color: #202020;
  max-width: 500px;
  font-size: 15px;
  font-family: 'Trebuchet MS', sans-serif;
  float: right;
  margin-top: 30px;
}


















/* .fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
} */



/* NAV BAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #4776e6;
  background: -webkit-linear-gradient(to right, #8e54e9, #4776e6);
  background: linear-gradient(to right, #8e54e9, #4776e6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.header {
  width: 100%;
  height: 60px;
  background: #0B3859;
  box-shadow: 0 0 10px 1px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; 
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 100px;
}

.menu li {
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.menu li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}
.menu li:hover::after {
  width: 100%;
  height: 1px;
  background-color: #fff;
}